# SPDX-License-Identifier: AGPL-3.0-or-later
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions: read-all

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Run ShellCheck
        run: |
          shellcheck --version
          shellcheck bin/* lib/*.bash

  test:
    name: Test Plugin
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Install asdf
        uses: asdf-vm/actions/setup@v3

      - name: Test plugin
        run: |
          asdf plugin test ghjk . --asdf-tool-version latest --asdf-plugin-gitref ${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
